[submodule "components/ESP32-RevK"]
	path = components/ESP32-RevK
	url = https://github.com/revk/ESP32-RevK
[submodule "AJL"]
	path = AJL
	url = https://github.com/revk/AJL
[submodule "PCBCase"]
	path = PCBCase
	url = https://github.com/revk/PCBCase
